@model IEnumerable<NewProjectEpam.Models.myTable.MyTableNews>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Главная - ASP.NET MVC</h1>

</div>

<table border="1">
    <tr>
        <td colspan="6" align="center">Новости</td>


    </tr>
@foreach (var item in Model)
{
    <tr>

        <td>Название новости  @item.name_news  Добавил @item.user_nam Категория  @item.typess
    

                @using (Html.BeginForm("DeleteMyNews", "Home"))
                {

                             @Html.TextBox("id_news",@item.Id_news)         
                        <input type="submit" value="Удалить" />
                    

                }

            @using (Html.BeginForm("UpdateNews", "Home"))
            {

                @Html.TextBox("id_news", @item.Id_news)
                <input type="submit" value="Редактировать" />


            }
                </td>

    </tr>
    
      <tr>

          
       
     </tr>
    <tr>

          
          <td>@item.content
              <img src="@item.image"  title="Картинка">
        </td>
       
     </tr>
    

    
    <tr>

         
          <td> @item.pol_ozenk  
              @using (@Html.BeginForm("PolOcNews", "Home"))
              {
                  <div>
                      @Html.TextBox("id_news", @item.Id_news)
                      <input type="submit" value="+" />
                  </div>
              }
        
        
        
        
         @item.otr_ozaenk
              @using (@Html.BeginForm("OtrOcNews", "Home"))
              {
                  <div>
                      @Html.TextBox("id_news", @item.Id_news)
                      <input type="submit" value="-" />
                  </div>
              }
        </td>
      
       
     </tr>
 

<tr>
          
           <td>  Коментарии Дата коментария - @item.date_comment  Оставил - @item.users_comment <br>
           Содержание - @item.comment<br>
           Положительных оценок - @item.pol_oc
               @using (@Html.BeginForm("PolOcComment", "Home"))
               {
                   <div>
                       @Html.TextBox("id_comment", @item.id_comments)
                       <input type="submit" value="+" />
                   </div>
               }


           Отрицательных оценок -@item.otr_oc
               @using (@Html.BeginForm("OtrOcComment", "Home"))
               {
                   <div>
                       @Html.TextBox("id_comment", @item.id_comments)
                       <input type="submit" value="-" />
                   </div>
               }

              
@using (Html.BeginForm("DeleteComments", "Home"))
               {
                   @Html.TextBox("id_comment", @item.id_comments)
                   <input type="submit" value="Удалить" />
}

           </td>
     </tr> 
    
     <tr>
      <td>
          @using (Html.BeginForm("AddComment", "Home"))
               {
              @Html.TextArea("comment", "")
              @Html.TextBox("id_news", @item.Id_news)
              <input type="submit" value="Оставить коментарий" />
}
          </td>

      </tr>
    }
</table>

