@model IEnumerable<NewProjectEpam.Models.ApplicationUser>

@{
    ViewBag.Title = "Список пользователей";
}

<h2>Список пользователей</h2>

<table>
    @foreach(var item in Model)
    {     <tr>
        <th>
            Email-
            @Html.TextBox("Email", @item.Email)
        </th>
       
        
            <th>
             UserName-  @Html.TextBox("Email", @item.UserName)
            </th>
           
          
              <td >
                  <ul class ="nav navbar-nav">

<li>@Html.ActionLink("Редактировать", "Edit")
                 <li>     @Html.ActionLink("Удалить", "Delete")
                     </ul>
</td>
            
        </tr>
    }
</table>